@font-face {
  font-family: 'Quantico';
  src: url('./font/Quantico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0dd;
}

code {
  font-family: "Quantico", sans-serif;
}
